# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Variable files
terraform.tfvars

# Plan files
*.plan
plan.out

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/