aws_region           = "ap-southeast-2"
project_name         = "selfheal-web"
environment          = "dev"
vpc_cidr             = "10.0.0.0/16"
public_subnet_cidrs  = ["10.0.1.0/24", "10.0.2.0/24"]
availability_zones   = ["ap-southeast-2a", "ap-southeast-2b"]
private_subnet_cidrs = ["10.0.11.0/24", "10.0.12.0/24"]

instance_type    = "t2.micro"
desired_capacity = 2
min_size         = 2
max_size         = 2